* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.logo-image {
  width: 30px;
  height: 30px;
}
.logo-description {
  font-size: 30px;
  color: #2d0f74;
  font-weight: bolder;
}
.header-links {
  list-style: none;;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.register {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.button-login {
  border: 2px #4840bb solid;
  background: white;
  border-radius: 10%;
  padding: 15px;
  margin-right: 10px;
}
.button-login > a {
  font-weight: bold;
  font-size: 15px;
  color: #4840bb;
  text-decoration: none;
}

.app-button > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
.header-link_cell {
  margin: 0 8px;
}
.header-link_cell a {
  
  color: #230b59;
  font-size: 20px;
  text-decoration: none;
}
.header-link_cell a:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)1s;
  color: #000000;
  font-size: 20px;
  text-decoration: underline;
}
.registration-invite {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.skate-description {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-width: 305px;
  margin-left: 12px;
}

.image-skate {
  max-width: 100%;
}
.image-skate img {
  width: 100%;
}
 .skate_top-line {
  color: #230b59;

  font-size: 50px;
  font-weight: normal;
}
.skate_bottom-line {
  color: #230b59;

  font-size: 20px;
  font-weight: normal;
}
.app-button {
  padding: 14px 12px;
  border-radius: 10px;
  background-color: #2d0f74;
  min-width: 120px;
  max-width: 150px;
}
.sponsors{
  max-width:100%;
  flex-wrap: wrap;
  color: #2d0f74;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center ;
  align-items: center;
}
.sponsors_award,.sponsors_area{
  padding:10px 0;
  font-size: 12px;
font-weight: 600;
}
.sponsors_amount-earn,.sponsors_grade{
  font-size: 25px;
  font-weight: 550;

}







@media screen and (max-width: 750px){
.header{
  display: none;
}
.registration-invite{
  flex-wrap: wrap;
}
.skate-description{
  padding:  15px 0;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 100%;
}
.skate_bottom-line {
  font-size: 20px;
  font-weight: normal;
  padding: 15px 0;
}
.sponsors{
flex-direction: column;
}
}
@media screen and (max-width: 318px){
 body{
   display: none;
 }
}